:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --section-background: #f6f6f6;
    --main-duration: 0.5s;
  }
  *{
      box-sizing: border-box;
  }
  body{
  font-family: 'Edu NSW ACT Foundation', cursive;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Work Sans', sans-serif;
  }
  .container{
      padding:0 15px ;
      margin: 0 auto;
  }
  
  /*small*/
  @media (min-width:678px){
      .container{
          width:750px;
      }
  }
  /*medium*/
  @media (min-width:992px){
      .container{
          width:970px;
      }
  }
  /*large*/
  @media (min-width:1200px){
      .container{
          width:1170px;
      }
    }
    .header{
        display: flex;
        justify-content: space-between;
    }
    .header .container{
        display: flex;
        justify-content: space-between;
    }
    .header .container img{
        width: 90px;
    height: 36px;
    margin-top: 10px;
    }
   .header .links{
    position: relative;
   }
   .header .icon{
    display: flex;
    width: 30px;
    flex-wrap: wrap;
    margin-top: 15px;
   }
   .header .icon span{
    background-color: black;
    margin-top: 5px;
    height: 3px;
    width: 37px;
   }
   .header .links .icon  ul{
    list-style: none;
    margin: 0;
    padding: 0px;
    position: absolute;
    left: -206px;
    top: 55px;
    max-width: 150px;
    display: none;
   z-index: 1;
}
.header .links:hover ul{
    display: block;
}

.header .icon ul li{
    padding: 23px 0;
    background-color: antiquewhite;
    width: 234px;
    border-bottom: 2px black solid;

}
.header .icon ul li:last-child{
    border: none;
}

.header .icon ul li a{
    text-decoration: none;
    color: black;
    padding: 11px;
}

.header .links ul::after{
    content: "";
    position: absolute;
    border: 15px solid;
    top: -30px;
    border-color: transparent transparent #f97c7c transparent;
    right: -84px;
}
/* end */
.landing{
    background-image: url(85838144-black-and-white-mountain-in-switzerland.webp);
    background-size: cover;
    height: calc(100vh - 65px) ;
    position: relative;
}
.landing .intro-text{
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
position: absolute;
width: 360px;
max-width: 100%;
}
.landing .intro-text h1{
    margin: 0;
    color: var(--main-color);
    font-size: 50px;
    font-weight: bold;
}
.landing .intro-text p{
    line-height: 2;
    font-size: 20px;
}
.features{
    background-color: var(--section-background);
   padding-bottom: var(--section-padding);
    padding-top: var(--section-padding);
}
.features .container
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
}
.features .container .feat{
    text-align: center;
    padding: 20px;
}
.features .container i{
    color: var(--main-color);
    margin-bottom: 10xp;
}
.features .feat h3 {
    font-weight: 800;
    margin: 30px 0;
  }
  .features .feat p {
    line-height: 1.8;
    color: #777;
    font-size: 17px;
  }
  .special-heading{
    color: #9dceff;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
  }
.special-heading+p{
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
}